<% layout('base') %>
<% block('title', 'Select Movie') %>

<% block('content') %>
<div class="container">
    <h1 class="heading">Select Movie</h1>
    <% movies["results"].forEach((movie) => { %>
        <p>
            <a href="/add/?id=<%= movie.id %>"><%= movie.title %> - <%= movie.release_date %></a>
        </p>
    <%}) %>
</div>
